<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="%PACKAGE_NAME%"
      android:versionCode="1"
      android:versionName="%PACKAGE_VERSION%"
	  android:installLocation="preferExternal">
    <application %ANDROID_MANIFEST_ICON_DEFINITION% android:label="@string/app_label">
        <activity android:exported="true" android:screenOrientation="%ANDROID_MANIFEST_ACTIVITY_ORIENTATION%" android:configChanges="orientation|keyboardHidden" android:name=".%ACTIVITY_CLASS%"
                  android:label="@string/activity_label"
				  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


	%ANDROID_MANIFEST_AIRPUSH_HOLDER%
      
    </application>
    <uses-sdk android:minSdkVersion="%ANDROID_MANIFEST_MINSDK%" />
  
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_SMS" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  
</manifest> 
